@model MediDate.Models.DiaCerrado

@{
    ViewData["Title"] = "Eliminar Dias Cerrados";

    var fecha2Aux = "";
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Modal si la ejecución en la BD sale bien-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal si hay que mostrar información relevante al usuario-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuMedicos" />

<div class="container">

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <h4>Eliminar Días Cerrados</h4>
        </div>
    </div>

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-7 align-self-center">

            <div class="card">
                <div class="card-body">
                    <div>
                        <dl class="row">

                            <dt class="col-sm-4">
                                @Html.DisplayName("Del Día: ")
                            </dt>
                            <dd class="col-sm-8">
                                @{
                                    string fecha1Formateada = Model.Fecha1.ToString("dddd dd MMM yyyy");
                                }
                                @Html.DisplayFor(model => fecha1Formateada)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayName("Al Día: ")
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.Fecha2 != null)
                                {
                                    fecha2Aux = Model.Fecha2.Value.ToString("dddd dd MMM yyyy");

                                }
                                else
                                {
                                    fecha2Aux = "";

                                }
                                @Html.DisplayFor(model => fecha2Aux)
                            </dd>

                        </dl>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-auto">
                            <a class="btn btn-secondary" asp-action="Index" asp-controller="DiaCerrado">Regresar</a>
                        </div>
                        <div class="col-md-auto">
                            <input type="submit" value="Eliminar" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eliminarModal" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        </div> @*Fin Col de _MenuMedicos.cshtml*@
    </div> @* Fin Row de _MenuMedicos.cshtml*@
</div> @*Fin Container de _MenuMedicos.cshtml*@

<!-- Modal -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar dia cerrado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea eliminar el día cerrado definitivamente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <form asp-action="DeleteDiaCerrado">
                    <input asp-for="IdDiaCerrado" class="form-control" hidden />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
    

