@model IEnumerable<MediDate.Models.Medico>

@{
    ViewData["Title"] = "Validacion";
}

@if (TempData["ErrorMessage"] != null)
{
    <!--No se pueden cargar las citas-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Cita agendada exitosamente-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuAdministrador" />

<div class="container">

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <h4>Validación de Médicos</h4>
        </div>
    </div>

    <div><label></label></div>

    <div class="table-responsive">
        @if(Model.Count()>0){

            <table class="table table-hover">
                <thead>
                    <tr>
            
                        <th>
                            @Html.DisplayName("Doctor")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Especialidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumCedula)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th>
                            @Html.DisplayName("Archivo")
                        </th>
            
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
            
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Especialidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumCedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                    @if (item.Estado == 0)
                                    {
                                        <div class="alert alert-danger p-1">
                                            @Html.DisplayName("SIN VALIDAR")
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-success p-1">
                                            @Html.DisplayName("VALIDADO")
                                        </div>
                                    }

                            </td>
            
                            <td>
                                <a href="@Url.Action("VerArchivo", "Usuario", new { IdArchivo = item.IdArchivo })">Abrir archivo</a>
                            </td>
                            <td>
                                @Html.ActionLink("Validar", "Details", new { IdMedico = item.IdMedico }, new{@class = "btn btn-primary"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">No hay Médicos para Validar en este momento.</p>
                    <i class="fa-solid fa-circle-exclamation fa-2xl" style="color: #712cf9;"></i>
                </div>
            </div>
        }
    </div>
    
</div>

        </div> @*Fin Col de _MenuAdministrador.cshtml*@
    </div> @* Fin Row de _MenuAdministrador.cshtml*@
</div> @*Fin Container de _MenuAdministrador.cshtml*@
