@model MediDate.Models.Consultorio

@{
    ViewData["Title"] = "Consultorio";
}

@if (TempData["SuccessMessage"] != null)
{
    <!--Modal si la ejecución en la BD sale bien-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["SuccessMessage"]', 'success');
        }
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <!--Modal si ocurre una excepción-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["ErrorMessage"]', 'error');
        }
    </script>
}

@if (TempData["AlertMessage"] != null)
{
    <!--Modal si hay que mostrar información relevante al usuario-->
    <script>
        window.onload = function () {
            Swal.fire('Aviso', '@TempData["AlertMessage"]', 'info');
        }
    </script>
}

<partial name="_MenuMedicos" />

<div class="container">

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-auto align-self-center">
            <h4>Consultorio</h4>
        </div>
    </div>

    <div><label></label></div>

    <div class="row justify-content-center">
        <div class="col-md-7 align-self-center">

            <div class="card">
                <div class="card-body">
                    <div>
                        <dl class="row">

                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Calle)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Calle)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Colonia)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Colonia)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.NumExterior)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.NumExterior)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.CodigoPostal)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CodigoPostal)
                            </dd>

                        </dl>
                    </div>

                    <div class="row justify-content-between">
                        <div class="col-md-auto">
                            <a class="btn btn-secondary" asp-action="IndexMedico" asp-controller="Cita">Ir a Mis Citas</a>
                        </div>
                        <div class="col-md-auto">
                            @Html.ActionLink("Editar", "Edit", new { IdConsultorio = Model.IdConsultorio }, new{@class="nav-link text-white btn btn-primary"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div> @*Fin Col de _MenuMedicos.cshtml*@
    </div> @* Fin Row de _MenuMedicos.cshtml*@
</div> @*Fin Container de _MenuMedicos.cshtml*@

